# pox
*~
*.pem
*.patch
*.rej
*.diff
*.orig
*.swp
*.pcap
\#*\#
pox/lib/pxpcap/pxpcap_c/build
pox/lib/pxpcap/pxpcap_c/WpdPack
pypy/

# Python
*.py[cod]

# C extensions
*.so

# Packages
*.egg
*.egg-info
dist
build
eggs
parts
var
sdist
develop-eggs
.installed.cfg
lib
lib64

# Mr Developer
.mr.developer.cfg
.project
.pydevproject
